td,
th {
    border-bottom: 1px solid rgb(128, 128, 128);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

element {
    --width: 7.5%;
}

div {
    margin-bottom: 3px;
    overflow-x: auto;
    white-space: nowrap;
}

.flex {
    flex-wrap: wrap;
}

.button:disabled {
    opacity: 0.65;
}

button:disabled {
    pointer-events: none;
}

.scoreBar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

@media screen and (orientation:portrait) {
    .scoreButtons{
        font-size: 60px;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 90px;
        font-weight: bold;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 150px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        border-radius: 20px;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-size: 55px;
        text-align: center;
        border-radius: 50px;
    }

    .newButton {
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 64px;
        margin: 18px 6px;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        height: 120px;
        outline: none;
    }

    #t {
        width: 120px;
    }

    #r, #y, #g, #b, #n {
        width: 100px;
    }

    .button {
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 64px;
        margin: 18px -2px;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        width: 110px;
        height: 110px;
        outline: none;
        background-color: #DCDCDC;
    }

    h2 {
        font-size: 150px;
        font-family: Arial;
        font-weight: 900;
        margin-top: -5px;
        margin-bottom: -15px;
        color: #020202;
    }

    div {
        font-size: 64px;
        font-weight: bold;
    }

    .rLock {
        background-image: url(redLock.png);
        background-size: 100px;
        background-repeat: no-repeat;
    }

    .yLock {
        background-image: url(yellowLock.png);
        background-size: 100px;
        background-repeat: no-repeat;
    }

    .gLock {
        background-image: url(greenLock.png);
        background-size: 100px;
        background-repeat: no-repeat;
    }

    .bLock {
        background-image: url(blueLock.png);
        background-size: 100px;
        background-repeat: no-repeat;
    }
}

@media screen and (orientation:landscape) {
    .scoreButtons{
        font-size: 30px;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 45px;
        font-weight: bold;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 45%;
        font-size: 27px;
        text-align: center;
        border-radius: 30px;
    }

    .newButton {
        border: none;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
        margin: 6px 3px;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        height: auto;
        outline: none;
    }

    .button {
        border: none;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
        margin: 6px 0px;
        cursor: pointer;
        border-radius: 12px;
        font-weight: bold;
        width: 7.5%;
        height: auto;
        outline: none;
        background-color: #DCDCDC;
    }

    h2 {
        font-size: 50px;
        font-family: Arial;
        font-weight: 900;
        margin-bottom: -5px;
        margin-top: -15px;
        color: #020202;
    }

    div {
        font-size: 32px;
        font-weight: bold;
    }

    .finalScore {
        text-align: center;
        font-size: 21px;
    }

    .rLock {
        background-image: url(redLock.png);
        background-size: let(--width);
        background-repeat: no-repeat;
    }

    .yLock {
        background-image: url(yellowLock.png);
        background-size: let(--width);
        background-repeat: no-repeat;
    }

    .gLock {
        background-image: url(greenLock.png);
        background-size: let(--width);
        background-repeat: no-repeat;
    }

    .bLock {
        background-image: url(blueLock.png);
        background-size: let(--width);
        background-repeat: no-repeat;
    }
}



.button1 {
    color: #FF271D;
    background-color: #FFDAD9;
}

/* Red */

.button2 {
    color: #FCC917;
    background-color: #FFFFD9;
}

/* Yellow */

.button3 {
    color: #2C6900;
    background-color: #DBFFC7;
}

/* Green */

.button4 {
    color: #001F77;
    background-color: #C7D5FF;
}

/* Blue */